html
html
   head
      title Form Tester
   body
      form(action = "/products", method = "GET" , name=formulaire)
         div
            label(for = "Latitude") Latitude :
            input(name = "latitude" value = latitude)
         br
         div
            label(for = "Longitude") Longitude :
            input(name = "longitude" value = longitude)
         br
         div
            label(for = "Radius") Radius :
            input(name = "Radius" value = radius)
         br
         div
            label(for = "titre") Titre :
            input(name = "titre" value = titre)
         br
         button(type = "submit") Rechercher
         button(type="button" id='boutonCentre') Centrer la recherche
         input(type='checkbox' id="synchro"  )
         label='Synchronisation automatique'
